body{
    background-color: rgb(4, 88, 25);
    color:white;
}
header{
    padding-left: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: wheat 1px solid;
    color: wheat;
}
section {
    padding-left: 20px;
}
section h3{
    font-size: 22px;
    word-spacing: 4px;
}
section p{
    font-size: 18px;
    line-height:30px;
}
.solution{
    padding-left: 20px;
}
.complier{
    background-color: black;
    margin: 50px auto;
    width: 70%;
    height: 500px;
    color: white;
    font-size: 18px;
    padding: 20px;}
.complier .head{
    color: Aqua ;
}